*{
    padding: 0;
    margin: 0;
}

p {
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

h1 {
    font-family: korolev, sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-family: korolev, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h3 {
    font-family: korolev, sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 100; 
}

.logo {
    margin-left: 2%;
}

nav {
    display: flex;
    position: absolute;
    top: 1.5vh;
    right: 3%;
    border: solid 2px black;
    border-radius: 30px;
    padding: 2px;
    width: fit-content;
}

nav ul li {
    display: inline-block;
    justify-content: end;
    margin-top: 7px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 20px;
}

header nav ul li a.active-nav-indicator {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px 20px;
}

header nav ul li a:not(.active-nav-indicator) {
    margin: 2px 20px;
}

header nav ul li a:not(.active-nav-indicator):hover {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px 20px;
    margin-top: 2%;
}

.buttons-head {
    display: inline-block;
}

.CTA-head {
    background-color: #4062cc;
    border-radius: 20px;
    height: 35px;
    padding: 0 15px;
    border: none;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.CTA-head a {
    color: white;
}

.CTA-head:hover {
    background-color: #E8F25A;
}

.CTA-head a:hover {
    color: black;
}

.berry-hub {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #E8F25A;
    border-radius: 20px;
    height: 35px;
    padding: 0 15px;
    border: none;
    
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.berry-hub img {
    display: block;
    height: 2em;
    width: auto;
}

.berry-hub:hover {
    background-color: black;
    color: white;
}

.berry-hub img:hover {
    filter: invert();
}

/* SECTION 1 */

#section1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-top: 4.5%;
}

.main {
    margin-left: 5%;
    margin-top: 5%;
}

.main h1 {
    font-size: 90px;
    margin-bottom: 3%;
    line-height: 90%;
}

.main p {
    margin-right: 10%;
}

.CTA-main {
    display: flex;
    justify-content: end;

    margin-top: 3%;
    background-color: #E8F25A;
    border-radius: 30px;
    padding: 10px 30px;
    border: none;
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.CTA-main:hover {
    background-color: #4062cc;
    color: white;
}

.img {
    display: flex;
    justify-content: right;
    margin-right: 2%;
}

.img img {
    border-radius: 21   px;
}

.main-right {
    margin-right: 3%;
    background-color: black;
    border-radius: 25px;
    padding: 10%;
}

.main-right h3 {
    font-size: 50px;
    margin-bottom: 3%;
    color: white;
}

.main-right p {
    color: white;
}

.something {
    margin-top: 5%;
}

/* SECTION 2 */

#section2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1% 1%;
}

.concept-redirect {
    background-color: black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5% 6%;
}

.concept-redirect h3 {
    color: white;
    font-size: 40px;
    margin-bottom: 2%;
}

.concept-redirect p {
    color: white;
}

.icon {
    margin: 20% 10%;
}

.community-button {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #E8F25A;
    border-radius: 20px;
    border: none;
    padding: 5%;
    margin-top: 2%;
    width: 100%;
}

.community-text {
    font-size: 65px;
    font-weight: 500;
    text-align: left;
    line-height: 95%;
    margin-top: 5%;
}

.btn-icon {
    display: flex;
    justify-content: end;
}

.btn-icon img {
    width: 90%;
}

.nos-spec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid black 2px;
    border-radius: 20px;
    padding: 5px;
    margin-left: 1%;
}

.text {
    margin: 5%;
}

.text h3 {
    font-size: 40px;
    padding-bottom: 3%;
}

.text button {
    margin-top: 5%;
}

.illu {
    display: flex;
    justify-content: end;
}

.illu img {
    border-radius: 15px;
}

/* TRANSITION */

#notre-concept {
    margin: 0 1%;
    background-color: black;
    color: white;
    padding: 1%;
    border-radius: 20px;
    font-size: 40px;
}

/* SECTION 3 */

#section3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1% 1%;
}

.slogan {
    background-color: black;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.slogan h3 {
    color: white;
    font-size: 50px;
    margin-bottom: 2%;
}

.slogan p {
    color: white;
}

.CTA-slogan {
    margin-top: 6%;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px 50px;
    border: none;
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.CTA-slogan:hover {
    background-color: black;
    color: white;
}

.intro-img {
    display: flex;
    justify-content: end;
}

.intro-img img {
    border-radius: 13px;
}

.custom-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid black 2px;
    border-radius: 20px;
    padding: 1%;
    margin-top: 1%;
}

.smth {
padding: 8% 8%;
}

.smth h3 {
    font-size: 50px;
    margin-bottom: 2%;
}

.color-opt {
    margin-left: 30%;
}

.illu2 {
    margin-left: 2%;
    margin-right: 2%;
    width: 50%;
}

/* TRANSITION */

#notre-console {
    margin: 0 1%;
    background-color: #4062cc;
    color: white;
    padding: 1%;
    border-radius: 20px;
    font-size: 40px;
}


/* SECTION 4 */

.main-buy {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1% 1%;
}

.console img {
    width: 99%;
    margin-right: 2%;
}

.buy-info {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: solid black 2px;
    border-radius: 20px;
    padding: 3%;
    margin-top: 1%;
    height: fit-content;
}

.buy-txt {
    margin-bottom: 8%;
}

.buy-txt h3 {
    font-size: 50px;
    margin-bottom: 2%;
}

.colors {
    border: solid black 2px;
    border-radius: 8px;
    padding: 3%;
    margin-bottom: 2%;
}

.colors p {
    margin-bottom: 2%;
}

.specs-txt h3 {
    font-weight: 400;
}

.specs-button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid black 2px;
    border-radius: 8px;
    margin-top: 1%;
    padding: 2% 0;
}

.specs-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 2% 5%;
    background-color: transparent;
    border: none;
    font-family: ibm-plex-mono, sans-serif;
}

.specs-info img {
    display: block;
}

.CTA-buy {
    margin-top: 3%;
    background-color: #4062cc;
    color: white;
    border-radius: 13px;
    padding: 10px 50px;
    border: none;
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.CTA-buy:hover {
    background-color: #E8F25A;
    color: black;
}

.price-info {
    background-color: #4062cc;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    color: white;
    padding: 1%;
    margin: 0 1%;
}

.tiny-txt {
    font-size: 11px;
    color: #CECECE;
}

.price-cond {
    text-align: right;
    padding: 5% 5%;
}

.price p {
    font-size: 24px;
    padding: 1% 0;
}

#hidden {
    color: #cfcfcf;
}

.review {
    margin: 2% 1%;
    padding: 1%;
    border: solid black 2px;
    border-radius: 11px;
}

.review h3 {
    font-weight: 400;
    margin-bottom: 1%;
}

.user-review {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 0;
    border: solid black 2px;
    border-radius: 8px;
    padding: 5px;
}

.review-txt {
    padding-left: 1%;
}

#section5 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 1%;
}

.empty {
    background-color: black;
    border-radius: 8px;
    margin: 1% 0;
}

/* TRANSITION */

#a-propos {
    margin: 0 1%;
    margin-bottom: 1%;
    background-color: black;
    color: white;
    padding: 1%;
    border-radius: 20px;
    font-size: 40px;
}

